.centralDiv{
    margin: 10rem 0 10rem 0;
    display: flex;
    justify-content: center;
}
table{
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
.centr{
    margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.centr form{
  display: flex;
  gap: 10px;          
  align-items: center;
}
button{
    background-color: #DDE0A5;
    width: 70px;
    height: 40px;
}
input{
    height: 25px;
    width: 200px;
}
