.centralDiv{
    margin: 10rem 0 10rem 0;
    display: flex;
    justify-content: center;
}
table{
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}