*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'CopperplateBold';
    src: url(../../fonts/Copperplate\ Gothic\ Bold\ Regular.ttf);
}
@font-face {
    font-family: 'CopperplateRegular';
    src: url(../../fonts/Copperplate\ Gothic\ Regular.otf);
}
body{
    font-family: 'CopperplateBold';
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
footer{
    background-color: #F9FBD7;
}
.footerDiv{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 4rem;
    padding-top: 5rem;
}
.gemorDiv > p{
    font-size: 20px;
}
.footerTextMargin{
    margin-top: 2rem;
}
.gemorText{
    margin-top: 10px;
}
.lastDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 4rem 0 4rem;
    padding-bottom: 3rem;
}
.hrFooter{
    border: 2px solid black;
    width: 120%;
}
.copyrightText{
    font-family: 'CopperplateRegular';
}
.socialImage{
    width: 20%;
}
.imageDiv{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
