.centralUl{
    margin:10rem 0 10rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.centralUl >li>a{
    display: block;
    background-color: #DDE0A5;
    text-align: center;
    padding:10px 50px 10px 50px;
    font-size: 30px;
    color: #000000; 
}
.secondLi{
    margin-top: 2rem;
    grid-row: 2/3;
    grid-column: 2/3;
}
.firstLi{
    grid-column: 2/3;
}
