@font-face {
    font-family: 'CopperplateBold';
    src: url(../../fonts/Copperplate\ Gothic\ Bold\ Regular.ttf);
}
@font-face {
    font-family: 'CopperplateRegular';
    src: url(../../fonts/Copperplate\ Gothic\ Regular.otf);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    background-color: #F9FBD7;
}
.headerLinksUl{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.foremployeesDiv{
    display: flex;
    align-items: center;
}
.gemorskosLogo{
    width: 7%;
}
.headerLink{
    font-size: 25px;
    color: black;
}
.personImg{
    width: 15%;
}
.employeesLink{
    white-space: nowrap;
    color: black;
    font-family:'CopperplateRegular' ;
    font-size: 15px;
}