form{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 0.7fr;
    margin-bottom: 5rem;
}
.formDiv{
    display: flex;
    flex-direction: column;
}
input{
    width: 80%;
    height: 50px;
    border: none;
    background-color: #DDE0A5;
}
label{
    font-size: 25px;
    color: black;
}
.centralDiv{
    grid-column: 2/3;
}
.second{
    margin-top: 3rem;
}
button{
    font-size: 25px;
    border: none;
    background-color: #DDE0A5;
    grid-column: 3/3;
    grid-row:2/3 ;
    width: 30%;
    height: 40%;
    margin-top: 5rem;
}